.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__group-name
        = @group.name
      .chat-main__group-info__left-box__members-name
        Member : 
        - @group.users.each do |user|
          = user.name
    .chat-main__group-info__group-edit
      = link_to edit_group_path(@group) do
        Edit
        %span<>

  .messages
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .images-btn
        = f.text_field :content, class: 'images-btn__type-text', placeholder: 'type a message'
        = f.label :image, class: 'images-btn__images' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__send-btn'