.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__btn
        = link_to new_group_path do
          = icon('fas', 'edit', class: "top-items__btn-group") 
        %span<>
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "top-items__btn-edit") 
        %span<>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .groups
            = group.name
          .message-box
            = group.show_last_message